<div class="LvmTemp3 LvmTemplate model-card hidden" style="width:100%">
    <!-- CardWidth, model-card: device-card or beacon-card -->
    <div>
		<table class="model-dev-control-0 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-1 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-2 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-3 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-4 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-5 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-6 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
		<table class="model-dev-control-7 hidden">
			<tr>
				<td class="LvmTep_tdImg text-center" rowspan="2">
						<img src="Content/Images/Control/control-sample.png" onclick="processAction('');" style="">
				</td>
				<td class="LvmTep_tdTxt">
					<div class="LvmRespText2 text-uppercase">
						<span class="model-control-name"></span> <!-- Control --> - <span class="model-department"></span> <!-- Department --> 
						<span class="model-floor"></span> LEVEL <!-- Floor --> 
						<span class="model-information"></span> <!-- Information: Room number, Equipment or Patient -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LvmRespText">
						Activated: <span class="model-date-activated" id="off-0"></span>  <!-- Activated, format MM/dd/yyyy hh:mm:ss tt -->
						&nbsp;&nbsp;
						<span id="ago-off-0" class="model-date-ago ago-off"></span> ago <!-- Ago, format hh\h\:mm\m\:ss\s -->
					</div>
					<div class="LvmRespText text-danger">
						<span class="model-zone"></span> <!-- Zone -->
					</div>
				</td>
			</tr>
		</table>
    </div>
</div>