.LvmTeplate{
 padding:0 3px 3px 3px;
}

.LvmTemp1 table {
border: 1px solid gray;
width: 100%;
}

.LvmTemp1 td {
border-bottom: 1px solid lightgray;
vertical-align: middle;
padding-left: 6px;
}

.LvmTemp1 .LvmTep_tdImg {
width: 40%;
padding: 1px;
border-right: 1px solid lightgray;
}

.LvmTemp1 .LvmTep_tdImg img {
width: 100%;
}

.LvmTemp1 .LvmTep_tdTxt {
width: 30%;
}

.LvmTemp1 .LvmTep_tdIco {
padding: 0.1em;
border: none;
}

.LvmTemp1 .LvmTep_tdIco table {
width: 90%;
border: none;
}

.LvmTemp1 .LvmTep_tdIco table td {
width: 12%;
padding: 0;
}

.LvmTemp1 .LvmTep_tdIco table img {
width: 100%;
opacity: 0.1;
}

.LvmTemp1 .LvmTep_tdIco table .LvmTep_tdIcoTxt {
width: 52%;
padding-left: 8px;
border-left: 1px solid rgb(134, 130, 130);
}